%nav
  %ul.pager
    - if page > 0
      %li.previous
        = link_to "← Previous".html_safe,               
          customers_path(keywords: keywords, page: page - 1), title: "Previous Page"                             
    %li.next
      = link_to "Next →".html_safe,                   
        customers_path(keywords: keywords, page: page + 1), title: "Next Page"                                 